img {
  border-radius: 20px;
}

article {
  margin-inline: auto;
  display: grid;
  margin-top: 80px;
  max-width: 700px;
  align-items: center;
  justify-items: center;
}

@media (min-width: 600px) {
  article{
    grid-template-columns: 1fr 1fr;
  }
}

nav {
  overflow: hidden;
  background-color: #0097b2;
}

nav a {
  float: right;
  color: #f2ebe3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  color: #ff5858;
  background-color: #3d6781;
}


a {
  text-decoration: none;
}

h3{
  display: inline;
  padding-right: 20px;
  color: #f2ebe3;
}

h3:is(:hover, :focus) {
  color: #ff5858;
}
