@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Sue+Ellen+Francisco&display=swap');
:root {
  --clr-primary-400: #0097b2;
  --clr-primary-500: #3d6781;
  --clr-secondary-200: #f2ebe3;
  --clr-neutral-400: #6c7289;
  --clr-neutral-100: #ffffff;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

/* general styling */

body {
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 0.89rem;
  color: var(--clr-neutral-400);
  background-color: var(--clr-secondary-200);
}