{% extends "base.html" %} <!-- Should be first tag-->
{% load static %}

{% block title %}Log out{% endblock title %}
{% block stylesheet %} 
{{ block.super}}
<link rel="stylesheet" href="{% static 'auth/css/success.css' %}">
{% endblock stylesheet %}


{% block content %}
  <article>
    <img src="{% static 'auth/images/sushi-1.png' %}" alt="sushi logo">
    
    <div class="logout-message">
      <h1 class="flex-item-1">You are logged out successfully!</h1>
      <p class="flex-item-2">Hopefully see you soon?</p>
      <div class="flex-item-3">
        <button class="button"><a href ="{%url 'home'%}">Back to home page</a></button>
        <button class="button"><a href ="{%url 'login'%}">Log back in</a></button>
      </div>
    </div>
  </article>
{% endblock content %}